body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Style CSS Movie App */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #22254b;
  color: aliceblue;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  
}
.movie {
  width: 347px;
  margin: 1rem;
  background-color: #21759b;
  border-radius: 4px;
  box-shadow: 8px 10px 10px rgba(209, 9, 199, 0.1);
  overflow: hidden;
  
  position: relative;
}
.movie img {
  max-width: 100%;
}
.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.movie-info h2 {
  margin: 0;
}
.movie-overview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: aliceblue;
  color: #22254b;

  transform: translateY(100%);
  transition: transform 0.4s ease-in-out ;

  overflow: auto;
  max-height: 100%;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px -5px -10px  rgba(209, 9, 199, 0.1);
}
.movie:hover .movie-overview {
  transform: translateY(0%);
}
.movie-overview h3 {
  margin: 15px;
  font-size: 24px;
}
.movie-overview p {
  padding: 0px 1.5rem;
  font-size: 14px;
  text-align: justify;
}

header {
  padding: 15px;
  background-color: #21759b;
  justify-content: flex-end;
  display: flex;
}
.root {
  display: flex;
  flex-direction: column;
}
.search {
  background-color: transparent;
  color: aliceblue;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  border: 2px solid #22254b;
}
